<!-- /snippets/comment.liquid -->
<div class="comment__meta">
  <span class="comment__meta-item comment-author">{{ comment.author }}</span>
  <span class="comment__meta-item comment-date">{{ comment.created_at | time_tag: format: 'date' }}</span>
</div>
<div class="comment__content comment-message rte">
  {{ comment.content }}
</div>
