<div class="wrap" style="position: relative; z-index: 9;">
  <div class="modal">
    <div class="container">
      <div class="my-pet-1 rel" id="myPet1">
        <form action="/a/custmeta" method="POST" id="custmeta">  
          <input type="hidden" name="customer[id]" value="{{ customer.id }}" />
          <input type="text" name="metafield[customer.pet_name2]" value="{{ customer.metafields.customer.pet_name2 }}" placeholder="customer.pet_name2" />
          <input type="text" name="metafield[customer.pet_complaints2]" value="{{ customer.metafields.customer.pet_complaints2 }}" placeholder="customer.pet_complaints2" />
          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>