{{ 'dc-product-card.css' | asset_url | stylesheet_tag }}

<div class="wrap" style="position: relative;z-index: 9;">
  <div class="modal" id="card-product">
    <div class="card-product no-disp">
      <div class="container">
        <div class="flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            <img src="{{ product.featured_image | img_url: 'x590' }}" alt="{{ product.title }}" loading="lazy">
          </div>
          <div class="card-product-text rel">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>