{{ "dc-announcement-bar.css" | asset_url | stylesheet_tag }}

<div class="announcement-bar container">
  <span class="header-anouncement">Gratis verzending bij 2 of meer puzzels!</span>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
