{{ 'dc-article-content.css' | asset_url | stylesheet_tag }}

<div class="article-content-wrapper">
  <div class="container">
    <div class="article-content-wrap rel flex-box">
      <a class="back-btn" href="/blogs/nieuws">
        <span class="left-chev">{% render 'icon-left-chevron' %}</span>
        <span class="back-txt">{{ section.settings.back }}</span>
      </a>
      <div class="article-content" style="background-color:{{ section.settings.background_color }}">
      	
      </div>
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "DC Article Content",
    "settings": [
		{
			"type": "text",
			"id": "back",
			"label": "Back Text",
			"default": "terug naar blog"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		},
		{
			"type": "text",
			"id": "tag",
			"label": "Article Tag"
		},
		{
			"type": "text",
			"id": "date",
			"label": "Article Date"
		}
	],
	"presets": [
		{
			"name": "DC Article Content"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
