{{ 'dc-article-hero.css' | asset_url | stylesheet_tag }}

<div class="article-hero" style="background-image:url({{ section.settings.article_hero | img_url: '2000x' }})"></div>

{% schema %}
  {
    "name": "DC Article Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "article_hero",
			"label": "Article Hero"
		}
	],
	"presets": [
		{
			"name": "DC Article Hero"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
