{{ 'dc-article-content.css' | asset_url | stylesheet_tag }}

<div class="article-content-wrapper rel">
  <div class="container">
    <div class="article-content-wrap flex-box">
      <a class="back-btn" href="/blogs/nieuws">
        <span class="left-chev">{% render 'icon-left-chevron' %}</span>
        <span class="back-txt">{{ section.settings.back }}</span>
      </a>
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "DC Article Content",
    "settings": [
		{
			"type": "text",
			"id": "back",
			"label": "Back Text",
			"default": "terug naar blog"
		}
	],
	"presets": [
		{
			"name": "DC Article Content"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
