{{ 'dc-blog-main.css' | asset_url | stylesheet_tag }}

<div class="blog-main">
  <div class="container">
    <div class="blog-filters">
    	{% for block in section.blocks %}
      		{% if block.type == 'filter' %}
      			<div class="blog-filter{% if forloop.first %} selected{% endif %}" data-filter="{{ block.settings.filter }}">{{ block.settings.filter_title }}</div>
      		{% endif %}
      	{% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "DC Blog Main",
    "settings": [
		
	],
	"blocks": [
		{
			"type": "filter",
			"name": "Filter",
			"settings": [
				{
					"type": "text",
					"id": "filter_title",
					"label": "Filter Title"
				},
				{
					"type": "text",
					"id": "filter",
					"label": "Filter Id"
				}
			]
		}
	],
	"presets": [
		{
			"name": "DC Blog Main"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
