<div class="">
  {{ section.settings.insta_script }}
</div>

{% schema %}
  {
    "name": "Delcon Instagram Feed",
    "settings": [
		{
            "type": "html",
            "id": "insta_script",
            "label": "Instagram Script"
        }
	],
	"presets":[
      {
         "name":"Delcon Instagram Feed"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
