<div class="store-locator-wrapper padd-top padd-bottom">
  <div class="container">
    {{ section.settings.store_snippet }}
  </div>
</div>

{% schema %}
  {
    "name": "DC Store Locator",
    "settings": [
	  {
        "label": "Store Locator Snippet",
        "id": "store_snippet",
        "type": "html"
      }
	],
	"presets": [
    {
      "name": "DC Store Locator"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
