<style type="text/css">
  .page-not-found-wrapper {
    min-height: calc(100vh - 514px);
    margin-top: 72px;
  }
  .page-not-found-wrapper .title {
    margin-top: 0;
  }
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
  @media (max-width: 992px) {
    .page-not-found-wrapper {
      margin-top: 80px;
    }
  }
</style>

<div class="page-not-found-wrapper flex-box justify-center align-center">
  <div class="container rel">
    <div class="template-404 page-width page-margin text-center">
      <p>{{ 'templates.404.subtext' | t }}</p>
      <h1 class="title">{{ 'templates.404.title' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button">{{ 'general.continue_shopping' | t }}</a>
    </div>
  </div>
</div>
