.left-chev {
  display: inline-block;
  transform: rotate(180deg);
  margin-right: 8px;
}

.left-chev #Arrow{
  transition: .4s ease;
}

.back-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

.article-content-wrap {
  justify-content: center;
}

.back-txt {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  transition: .4s ease;
}

.back-btn:hover .back-txt{
  color: #B499BF;
  text-decoration: underline;
}

.back-btn:hover .left-chev #Arrow{
  stroke: #B499BF;
}

.article-content {
  padding: 40px;
  margin-top: -300px;
  width: 792px;
  margin-bottom: 64px;
}
.article-author {
  display: block;
  font-size: 14px;
  line-height: 19px;
}