.about-hero-sec {
  height: 30vw !important;
}
.about-wrapper {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 618px;
  margin: 0 auto;
}
.store-hero-wrapper {
  margin: 0 auto 0 0 !important;
}
.store-hero-wrapper .hero-title, .store-hero-wrapper .hero-subtitle {
  text-align: left;
  color: rgb(var(--color-base-accent-1));
}
.store-hero-wrapper .hero-subtitle, .about-wrapper .hero-subtitle {
  margin-bottom: 0px;
}