.about-hero-sec {
  height: 30vw !important;
}
.about-wrapper {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 588px;
  margin: 0 auto 0 0;
}
.about-wrapper .hero-title, .about-wrapper .hero-subtitle {
  text-align: left;
  color: rgb(var(--color-base-accent-1));
}