.customer {
  padding-top: 72px;
  margin: 91px 0;
}
.customer-image-block {
  width: 50%;
  max-width: 598px;
  height: 590px;
}
.customer-image-block img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-text-block {
  width: 45%;
  max-width: 488px;
  margin: 0 0 0 auto;
}
#login {

}
.login-heading, .recover-heading {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
input, select, textarea {
  font-size: 16px;
  line-height: 24px;
  padding: 11px 24px 10px;
  width: 100%;
  margin-bottom: 16px;
  font-weight: 300;
  background-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-accent-1));
  border: 1px solid #746B63;
}
input:focus-visible, select:focus-visible, textarea:focus-visible {
  outline: 1px solid rgb(var(--color-base-accent-1));
}
::placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder {
  opacity: 0.5;
}
::-ms-input-placeholder {
  opacity: 0.5;
}
#show-pwd, #reset-password, #new-reset-password {
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  right: 24px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 300;
  text-decoration: underline;
}
.forgot-password, .login-link {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 16px;
  line-height: 24px;
  color: rgb(var(--color-base-accent-1));
  text-decoration: none;
  margin-bottom: 24px;
  cursor: pointer;
}
.login-link {
  margin: 0 auto;
}
.forgot-password:hover, .login-link:hover {
  color: #B499BF;
  text-decoration: underline;
}
.create-account {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(var(--color-base-accent-1));
  text-decoration: none;
  margin: 0 auto;
}
.create-account:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.create-account:hover:after {
  width: 40%;
  left: 30%;
}
.has-account {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(var(--color-base-accent-1));
  text-decoration: none;
  margin: 0 auto;
}
.has-account:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.has-account:hover:after {
  width: 48%;
  left: 26%;
}
.login-btn {
  max-width: none;
}
#forgot-password {
  display: none;
}
.register-btn {
  max-width: none;
  background-color: rgb(var(--color-base-text)) !important;
}
.register-btn:hover {
  background-color: #E8E6E4 !important;
}
.recover-text {
  margin: 0;
  margin-bottom: 24px;
}

/* Account Pages CSS */
.account {
  margin: 131px 0 !important;
}
.account-options-wrapper {
  display: block;
  width: 25%;
  max-width: 287px;
}
.account-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 40px 0;
}
.account-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  text-decoration: none;
  border-top: 1px solid rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-accent-1));
}
.account-option:last-child {
  border-bottom: 1px solid rgb(var(--color-base-accent-1));
}
.account-option.selected {
  background-color: rgb(var(--color-base-text));
}
.account-details {
  display: block;
  width: 70%;
  max-width: 792px;
}