.dc-footer {
  border-top: 1px solid #746B63;
  background-color: #F2F1F0;
}
.footer-upper {
  border-bottom: 1px solid #746B63;
  padding: 40px 0;
}
.footer-logo-img {
  width: 170px;
  display: block;
  margin-bottom: 24px;
}
.footer-logo-img img {
  width: 100%;
}
.footer-link, .policies-link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-family: "Avenir",sans-serif;
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-base-accent-1));
  text-decoration: none;
  transition: all .3s ease-out;
}
.footer-link:last-child, .policies-link:last-child {
  margin-bottom: 0;
}
.footer-link:hover, .policies-link:hover {
  color: #b499bf;
  text-decoration: underline;
}
.footer-social-wrap {
  display: flex;
  margin-top: 18px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #B499BF;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}
.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
/*   border-radius: 6px; */
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  font-size: 14px;
  line-height: 18px;
/*   left: 50%;
  margin-left: -75px; */
  opacity: 0;
  transition: all 0.3s;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.footer-nav-wrapper {
  display: flex;
}
.footer-nav-left {
  width: 60%;
}
.footer-nav-right {
  width: 30%;
  max-width: 287px;
  margin-left: auto;
}
.footer-lower {
  padding: 24px 0 22px;
}
.footer-lower-left {
  width: 45%;
}
.footer-lower-right {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.footer-lower-text, .footer-store-address p, .partners-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Avenir",sans-serif;
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-base-accent-1));
}
.footer-store-address p, .partners-text {
  margin: 0;
}
.partners-logo {
  width: 100%;
  max-width: 287px;
  max-height: 69px;
  margin-top: 8px;
}