.full-banner-img {
  height: 66.6666667vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
}
.full-banner-wrapper {
  width: 100%;
  max-width: 476px;
  margin: 0;
}
.full-banner-title {
  font-size: 56px;
  line-height: 109px;
  font-weight: 700;
  margin: 0 0 16px;
  color: rgb(var(--color-base-accent-1)) !important;
}
.banner-text {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 16px auto 40px;
}