.featured-title {
  font-size: 40px;
  line-height: 66px;
  font-weight: 700;
  margin: 0 auto 16px;
}
.featured-sub-title {
  width: 100%;
  max-width: 590px;
  font-family: "Avenir Next",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 auto 40px;
}
.product-card {
  max-width: 287px;
  margin: 0 8px;
  padding: 8px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.product-card-image {
  display: block;
  width: 100%;
  height: 30vw;
  max-height: 287px;
  padding: 16px;
  background-color: rgb(var(--color-base-text));
}
.product-card-image img {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  max-height: 255px;
  min-height: 255px;
  display: block;
  position: relative;
  object-fit: contain;
  transition: all .3s ease-out;
}
.product-card-image .default-img {
  opacity: 1;
}
.product-card-image .hovered-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: cover;
}
.product-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
}
.product-card-details .prooduct-title-desc {
  margin: 8px 0 0;
  width: calc(65% - 6px);
  display: flex;
  flex-direction: column;
}
.product-card-details .product-card-price {
  margin: 8px 0 0;
  width: calc(35% - 6px);
  display: flex;
  justify-content: flex-end;
}
.product-card-title {
  font-family: "Avenir Next",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  min-height: 48px;
  letter-spacing: 0;
  margin: 0;
}
.product-card-desc {
  height: 16px;
  overflow: hidden;
}
.product-card-price .product-price, .product-card-desc {
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir Next",sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0;
}
.product-card-hover {
  display: none;
  text-decoration: none;
}
.product-btn {
  padding: 7px 24px 6px;
  max-width: fit-content;
  max-width: -moz-fit-content;
}
.featured-btn {
  margin: 40px auto 0;
}

.featured-carousel:not(.slick-initialized) {
  visibility: hidden;
}

@media (min-width: 993px) {
  .product-card:hover .product-card-hover {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(var(--color-base-accent-1));
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0,0,0,.1);
    cursor: pointer;
   }
  .product-card:hover .product-card-image .default-img {
    opacity: 0;
  }
  .product-card:hover .product-card-image .hovered-img {
    opacity: 1;
  }
}

/* css added by suchit on 22/06/22 */

@media (max-width: 992px) {
  .product-card:nth-child(1) {
    margin-left : 0;
  }
  .product-card {
    padding: 0;
  }
  .product-card-image {
    height : 40vw;
  }
  .featured-title {
  	font-size: 24px;
    line-height: 33px;
  }
  .featured-sub-title {
    margin: 0 auto 16px;
  }
  .product-card-image img {
    min-height : auto;
  }
  .featured-btn {
    margin: 60px auto 0;
}
}

@media(max-width: 560px){
  .product-card-image.more-w{
    height : 70vw;
  }
  .product-card-title {
    font-size : 15px;
  }
  
}
@media(max-width: 321px){
  .product-card {
    margin-right : 0;
  }
}