.faq-section {
  display: block;
  width: 100%;
}
.faq-container {
  padding: 120px 0;
}
.faq-heading {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
}
.faqs {
  max-width: 792px;
  margin: 0 auto;
}
.faq-wrapper {
  border-bottom: 1px solid rgba(var(--color-base-accent-1),1);
  position: relative;
}
.faq-wrapper:first-child {
  border-top: 1px solid rgba(var(--color-base-accent-1),1);
}
.accordion {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 16px 24px 16px 0;
  color: rgba(var(--color-base-accent-1),1);
  margin: 0;
}
.accordion .symbol, .accordion-m .symbol {
  height: 12px;
  width: 12px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all .3s ease-out;
}
.accordion .symbol svg, .accordion-m .symbol svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 12px;
  width: 12px;
}
.accordion .symbol svg * {
  stroke: rgba(var(--color-base-accent-1),1);
  stroke-width: 2;
  transition: all .3s ease-out;
}
.faq-active .symbol svg #Line-2, .accordion-m-active .symbol svg #Line-2 {
  transform: translate(5.001px, -5px) rotate(90deg);
  opacity: 0;
}
.panel {
  padding: 0;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
}
.panel li, .panel p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  color: rgba(var(--color-base-accent-1),1);
}