.hero-small{
	height: 400px;
}

.hero-small-img{
	height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}

.rev-cols .hero-small-img {
    right: unset;
    left: 0;
}

.hero-small-img img{
	display: block;
  height: 100%;
  width: 100%;
    object-fit: cover;
}