.hero-small{
	height: 400px;
  margin-top: 72px;
}

.hero-small-img{
	height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}

.rev-cols .hero-small-img {
    right: unset;
    left: 0;
}

.hero-small-img img{
	display: block;
  height: 100%;
  width: 100%;
    object-fit: cover;
}

.hero-small-text {
    padding-right: 110px;
    width: 50%;
}

.rev-cols .hero-small-text {
    padding-right: 0;
  padding-left: 110px;
  margin-left: 50%;
  height: 100%;
    display: flex;
    justify-content: center;
  flex-direction: column;
}