.hero-sec {
  height: 66.6666667vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  margin-bottom: 80px;
}

.hero-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 160px;
}

.hero-reviews {
  width: 100%;
}
.hero-reviews a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff !important;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.hero-reviews svg {
  width: 24px;
  height: 24px;
}
.hero-reviews svg path {
  transform: scale(3) translate(10px, -10px);
}
a#profile-link {
  color: #fff !important;
}
.hero-title {
  width: 100%;
  font-size: 56px;
  line-height: 109px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.hero-subtitle {
  width: 100%;
  max-width: 588px;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Avenir Next",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.hero-cta-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-btn {
  margin-right: 16px;
}

.hero-btn:last-child{
  margin-right: 0;
}

@media(max-width: 992px){
  .hero-sec {
    height: 85vh;
    max-height: none;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .hero-title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 8px;
  }
  .hero-btn {
    width: 100%;
    text-align: center;
  }
  .hero-wrapper {
    padding-bottom : 40px;
  }
  .hero-subtitle {
    margin: 0 0 8px;
  }
}

@media(max-width: 560px){
  .hero-cta-wrapper{
    flex-direction: column;
    align-items: center;
  }
  .hero-btn {
    max-width: 100%;
  }
  .hero-cta-wrapper .hero-btn:nth-child(1){
    margin-right: 0;
    margin-bottom: 8px;
  }
}

@media (max-width: 320px) {
  .hero-title {
    font-size: 24px;
    line-height: 32px;
  }
}