.product {
  margin-top: 72px;
  padding-top: 35px;
}
.terug-btn {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 24px;
}