.pet-details-wrapper {
  display: block;
  width: 70%;
  max-width: 792px;
}
.pet-details {
  display: block;
  width: 100%;
  padding: 24px;
  background-color: rgb(var(--color-base-text));
  border: 1px solid rgb(var(--color-base-accent-1));
  margin-bottom: 24px;
}
.add-pet, .add-pet2 {
  margin-left: auto;
}
.pet-image-wrapper {
  display: block;
  width: 146px;
  height: 146px;
  margin-right: 24px;
}
.pet-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pet-info-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 170px);
}
.pet-name {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  margin: 0 0 8px;
}
.pet-gender {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.edit-pet-details {
  display: flex;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.edit-pet-details:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: #B499BF;
  transition: all .3s ease-out;
}
.edit-pet-details:hover {
  color: #B499BF;
}
.edit-pet-details:hover:after {
  width: 100%;
  left: 0;
}
.pet-info {
  display: flex;
  width: 100%;
  margin-top: 8px;
}
.pet-info .pet-label, .pet-info .pet-value {
  display: block;
  width: 50%;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.pet-info .pet-label {
  font-weight: 400;
  text-transform: uppercase;
}
.pet-info .pet-value {
  font-weight: 700;
}

/* Pet Details Page CSS */
.my-pet-form {
  display: block;
  width: 100%;
  height: 320px;
  overflow-y: auto;
}
/* width */
.my-pet-form::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.my-pet-form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
.my-pet-form::-webkit-scrollbar-thumb {
  background: rgb(var(--color-base-accent-1)); 
}

/* Handle on hover */
.my-pet-form::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-base-accent-1));
}
.my-pet-1 .row {
  justify-content: space-evenly;
}
.my-pet-1 .column {
  width: calc(50% - 16px);
  flex-direction: column;
}
.my-pet-info {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.my-pet-1 [type=radio]:checked+label:before, .my-pet-1 [type=radio]:not(:checked)+label:before {
  top: 4px;
}
.my-pet-1 [type=radio]:checked+label:after, .my-pet-1 [type=radio]:not(:checked)+label:after {
  top: 8px;
}
.pet-type, .pet-gender-info, .pet-activity, .pet-neutered, .pet-complaint {
  margin-bottom: 8px;
}
.pet-type:last-child, .pet-gender-info:last-child, .pet-activity:last-child, .pet-neutered:last-child, .pet-complaint:last-child {
  margin-bottom: 16px;
}
.pet-complaint {
  display: flex;
  align-items: center;
}
.pet-complaint .pet-complaint-checkbox {
  width: auto;
  margin: 0;
}