.product {
  margin-top: 72px;
  padding-top: 35px;
}
.terug-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: rgb(var(--color-base-accent-1));
  text-decoration: none;
  margin: 0;
  margin-bottom: 24px;
}
.variantType {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.qty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 45px;
  border: 1px solid rgb(var(--color-base-accent-1));
}
.qty-btn.symbol-minus {
  opacity: .5;
}
.qty-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.qty-number {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}
.addToCart {
  width: calc(100% - 101px);
  max-width: none;
  background-color: #0d553f;
  color: #fff;
  transition: all .3s ease-out;
}
.addToCart:hover {
  background-color: #063323;
}
.shipping-details {
  display: block;
  margin: 24px 0 40px;
}
.shipping-details ul {
  margin: 0px;
}