.newsletter-wrapper {
  background: url('https://cdn.shopify.com/s/files/1/0578/5976/8499/files/Mask_Group_1_2x_7ed5a9e1-857b-47a0-97ff-0966a9c16d49.png?v=1652277918'),rgb(var(--color-base-text));
  padding: 80px 0;
  border-top: 1px solid #746B63;
}

.newsletter-title {
  font-size: 40px;
  line-height: 66px;
  font-weight: 700;
  margin-bottom: 16px;
}

.newsletter-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 38px;
}

.newsletter-content, .newsletter-form-wrap {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}

.nl-submit-btn {
  background-color: #B499BF;
  border: none;
  width: 185px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.nl-submit-btn:hover {
  background-color: #8A6899;
  color: #fff;
}

.nl-input {
  background-color: #FBFBFB;
  border: 1px solid #B499BF;
  width: 407px;
  text-align: center;
  padding: 10px 0 9px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

/* ::placeholder {
color: var(--dd-color-first);
opacity: 0.5;
}

:-ms-input-placeholder {
color: var(--dd-color-first);
}

::-ms-input-placeholder {
color: var(--dd-color-first);
} */

@media(max-width: 992px){
  .newsletter-form-wrap{
    width: 100%;
  }

  .nl-input{
    width: calc(100% - 80px);
  }

  .newsletter-desc{
    text-align: left !important;
  }
}