.newsletter-wrapper {
  background: url('https://cdn.shopify.com/s/files/1/0578/5976/8499/files/Mask_Group_1_2x_7ed5a9e1-857b-47a0-97ff-0966a9c16d49.png?v=1652277918'),rgb(var(--color-base-text));
  padding: 80px 0;
  border-top: 1px solid #746B63;
}

.newsletter-title {
  font-size: 40px;
  line-height: 66px;
  font-weight: 700;
  margin-bottom: 16px;
}

.newsletter-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 38px;
}

.newsletter-content, .newsletter-form-wrap {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}

.nl-submit-btn {
  background-color: #B499BF;
  border: none;
  width: 185px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 24px 9px;
  transition: all .3s ease-out;
}
.nl-submit-btn:hover {
  background-color: #8A6899;
  color: #fff;
}

.nl-input {
  background-color: #FBFBFB;
  border: 1px solid #B499BF;
  width: 407px;
  padding: 10px 24px 9px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  outline: none;
}

@media(max-width: 992px){
  .newsletter-form-wrap{
    width: 100%;
  }
  .nl-input{
    width: calc(100% - 80px);
  }
  
  .newsletter-wrapper {
  	padding : 40px 0;
  }
  
  .newsletter-title {
    font-size: 24px;
    line-height: 33px;
  }
  
  .nl-input-group.flex-box {
    flex-direction: column;
    align-items: center;
  }
  
  .nl-submit-btn{
    width: calc(100% - 80px);
    margin-top: 16px;
  }

  .newsletter-desc{
    margin-bottom : 16px;
  }
}

@media(max-width: 560px){
  .nl-input{
    width: 100%;
  }
  
  .nl-submit-btn{
    width: 100%;
  }
}
