.ingredient-details-block {
  width: 50%;
  max-width: 598px;
  height: 590px;
  padding: 40px 64px;
  overflow: hidden;
}
.ingredient-title-block {
  width: 50%;
  height: 590px;
  padding: 20px 64px;
  overflow-y: scroll;
}
.ingredient-title-block::-webkit-scrollbar {
  width: 4px;
}
.ingredient-title-block::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.ingredient-title-block::-webkit-scrollbar-thumb {
  background: rgb(var(--color-base-accent-1)); 
}
.ingredient-title-block::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-base-accent-1));
}
.ingredient-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  border-bottom: 1px solid rgb(var(--color-base-accent-1));
}
.ingredient-label:not(.no-disp).first {
  border-top: 1px solid rgb(var(--color-base-accent-1));
}
.ingredient-label.selected {
  background-color: rgb(var(--color-base-text));
}
.ingredient-label label {
  justify-content: space-between;
}
.ingredients-radio {
  margin-right: 12px;
}
.ingredient-details-wrapper {
  display: block;
  width: 100%;
  max-width: calc(100% - 128px);
  height: auto;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}
.ingredient-details-wrapper.selected {
  visibility: visible;
  pointer-events: all;
  z-index: 2;
}
.ingredient-details-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--font-heading-weight);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}
.ingredient-details-text p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.ingredient-image {
  display: block;
  width: 100%;
  height: 231px;
  object-fit: contain;
  margin: 0;
  margin-top: 80px;
}
.ingredient-details-text ul {
  padding-inline-start: 20px;
}

@media (max-width: 992px) {
  .ingredient-title-block {
  	width: 100%;
    padding: 24px;
  }
  .ingredient-label {
  	display: block;
    height: auto;
  }
  .ingredient-details-wrapper {
    display: none;
    width: 100%;
    max-width: none;
    height: auto;
    position: relative;
    overflow: hidden;
    visibility: hidden;
    padding: 12px 0;
  }
  .ingredient-details-wrapper.selected {
    display: block;
  }
  .ingredient-label.selected .arrow-right {
  	transform: rotate(90deg);
  }
  .ingredient-image {
    height: 100%;
    margin: 12px 0 0;
  }
}