.card-product {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card-product-image {
  width: 50%;
  max-width: 598px;
  height: 590px;
}
.card-product-text {
  width: 50%;
/*   max-width: 470px;
  margin: 0 auto; */
  padding: 0 64px;
}