.modal, .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-product {
  display: flex;
  width: 100%;
  z-index: 4;
}
.modal {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #18171666;
  transition: all ease 1s;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.card-product-wrapper {
  background-color: #fff;
  z-index: 4;
}
.card-product-image {
  width: 50%;
  max-width: 598px;
  height: 100%;
}
.product-slider-for:not(.slick-initialized), .slider-nav:not(.slick-initialized) {
  visibility: hidden;
}
.product-slider-for img {
  display: block;
  width: 100%;
  height: 590px;
  object-fit: cover;
}
.card-product-text {
  width: 50%;
  padding: 0 64px;
}
.modal-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f0f8ff73;
}
.closeoverlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: block;
  z-index: 2;
  position: fixed;
  cursor: pointer;
}
.numverOfVariants {
  display: block;
  margin: 24px 0 8px;
}
.variants-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.variant-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  height: 46px;
  padding: 12px 17px;
  background-color: #FBFBFB;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(var(--color-base-accent-1));
  border: 1px solid rgb(var(--color-base-accent-1));
  cursor: pointer;
}
.variant-selected.variant-box {
  background-color: rgb(var(--color-base-background-1));
  border: 2px solid rgb(var(--color-base-accent-1));
}
.product-card-btn {
  display: block;
  width: 100%;
  max-width: none;
  background-color: #0D553F;
  color: #fff;
  margin-bottom: 14px;
  text-transform: uppercase;
  transition: all .3s ease-out;
}
.product-card-btn:hover {
  background-color: #063323;
}
.product-local-btn {
  display: block;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
  background-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.product-local-btn:hover {
  background-color: #E8E6E4;
}