.modal, .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-product {
  display: flex;
  width: 100%;
  z-index: 4;
}
.modal {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #18171666;
  transition: all ease 1s;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.card-product-wrapper {
  background-color: #FBFBFB;
  z-index: 4;
}
.card-product-image {
  width: 50%;
  max-width: 598px;
  height: 590px;
  background-color: rgb(var(--color-base-text));
}
.card-product-image .product-slider-for, .card-product-image .product-slider-for .slick-list, .card-product-image .product-slider-for .slick-track {
  height: 100%;
}
.card-product-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card-for:not(.slick-initialized), .product-card-nav:not(.slick-initialized) {
  visibility: hidden;
}
.product-card-for img {
  display: block;
  width: 100%;
  height: 590px;
  object-fit: contain;
}
.card-product-text {
  width: 50%;
  padding: 0 64px;
}
.modal-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f0f8ff73;
}
.closeoverlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: block;
  z-index: 2;
  position: fixed;
  cursor: pointer;
}
.numverOfVariants {
  display: block;
  margin: 24px 0 8px;
}
.variants-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.variant-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  height: 46px;
  padding: 12px 17px;
  background-color: #FBFBFB;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 16px;
  color: rgb(var(--color-base-accent-1));
  border: 1px solid rgb(var(--color-base-accent-1));
  cursor: pointer;
}
.variant-box:last-child {
  margin-right: 0;
}
.variant-selected.variant-box {
  background-color: rgb(var(--color-base-background-1));
  border: 2px solid rgb(var(--color-base-accent-1));
}
.product-card-btn {
  display: block;
  width: 100%;
  max-width: none;
  background-color: #0D553F;
  color: #fff;
  margin-bottom: 14px;
  text-transform: uppercase;
  transition: all .3s ease-out;
}
.product-card-btn:hover {
  background-color: #063323;
}
.product-local-btn {
  display: block;
  width: 100%;
  max-width: none;
  text-transform: uppercase;
  background-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.product-local-btn:hover {
  background-color: #E8E6E4;
}
.product-card-for .slick-dots{
  display : none !important;
}

.modal::-webkit-scrollbar {
  display: none;
}

.product_title_price{
	display : flex;
}
.CloseModal{
  position: absolute;
  top: 16px;
  right: 40px;
  z-index: 5;
  cursor: pointer;
}

@media(max-width: 992px){
  .modal {
    overflow-y : scroll;
  }
  .card-product-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
/*     justify-content: flex-start; */
    height: 95vh;
  }
  .card-product-image {
    width: 100%;
    max-width:100%;
    height: 50vh;
    max-height: 50vh;
  }
  .card-product-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 24px;
  }
  .product-card-for.slick-dotted.slick-slider {
    margin-bottom : 0;
  }
  .product-card-for img {
    height: 50vh;
    max-height: 50vh;
  }

  .slider-nav img.slick-slide, .product-card-nav img.slick-slide {
    width: 24px !important;
    height: 24px;
  }
  .card-product-text{
    padding : 24px;
  }
  .numverOfVariants{
    margin: 8px 0;
  }
  .variant-features{
    display: none;
  }
  .card-product-text .product-title {
    line-height:22px;
  }
  .CloseModal {
    top: 30px;
    right: 30px;
  }
}


@media(max-width: 560px){
  .card-product {
  	height : 100%;
  }
  .card-product-text .product-title {
  	font-size : 16px;
    align-items : baseline;
  }
  .product-card-for img, .card-product-image{
    max-height: 50vh;
  }
}

@media (max-width: 321px) {
  .numverOfVariants {
    margin: 0;
  }
}