@font-face {
  font-family: "Avenir";
  src: url('{{ "Avenir.woff2" | asset_url }}') format("woff2"),
}
@font-face {
  font-family: "LeMonde Livre Classic Normal";
  src: url('{{ "LeMonde_Livre_Classic_Normal.woff2" | asset_url }}') format("woff2"),
}

.container {
  display: block;
  width: 100%;
  max-width: 1246px;
  padding: 0 25px;
  margin: 0 auto;
}
.no-disp {
  display: none !important;
}
.rel {
  position: relative !important;
}
.flex-box {
  display: flex;
  height: 100%;
}
.flex-column {
  flex-direction: column;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right;
}
.marg-bottom-xl {
  margin-bottom: 120px !important;
}
.marg-top-xl {
  margin-top: 120px !important;
}
.marg-top {
  margin-top: 80px !important;
}
.marg-bottom {
  margin-bottom: 80px !important;
}
.sub-marg-top-xs {
  margin-top: 16px !important;
}
.sub-marg-bottom-xs {
  margin-bottom: 16px !important;
}
.no-marg-left {
  margin-left: 0 !important;
}
.no-marg-bottom {
  margin-bottom: 0 !important;
}
.sub-marg-left {
  margin-left: 24px !important;
}
.marg-left-auto {
  margin-right: 0 !important;
  margin-left: auto !important;
}
.marg-right-auto {
  margin-left: 0 !important;
  margin-right: auto !important;
}
.marg-top-xxs {
  margin-top: 8px !important;
}
.marg-bottom-xxs {
  margin-bottom: 8px !important;
}
.padd-top {
  padding-top: 80px;
}
.padd-bottom {
  padding-bottom: 80px;
}
body {
  font-family: "Avenir",sans-serif;
  font-weight: 300;
  margin: 0;
  color: rgb(var(--color-base-accent-1));
  scroll-behavior: smooth;
  background-color: #FBFBFB;
}
body span {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
body ul {
  padding-inline-start: 15px;
}
body.no-scroll {
  overflow: hidden;
}

:focus-visible {
  outline: none;
}

main {
  margin-top: 48px;
}

.btn {
  width: 100%;
  max-width: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-base-background-1));
  text-align: center;
  font-family: "Avenir",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
  position: relative;
  transition: all .3s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 24px 10px;
  color: rgb(var(--color-base-accent-1));
  border: 1px solid rgb(var(--color-base-accent-1));
  transition: all .3s ease-out;
}
.btn:hover {
  background-color: #D0E0E8;
}

.grey-btn {
  background-color: rgb(var(--color-base-text))!important;
}
.grey-btn:hover {
  background-color: #e8e6e4!important
}

.checked-list {
  padding: 0;
}
.checked-list li {
  list-style: none;
  margin-bottom: 16px;
}
.checked-list li:last-child {
  margin-bottom: 0;
}
.checked-list li:before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width: 22px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
  background: url('https://cdn.shopify.com/s/files/1/0578/5976/8499/files/Checkmark.svg?v=1652276686') no-repeat left center;
  background-size: contain;
}

.product-title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin: 0;
}
.product-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.arrow-left {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.arrow-left svg {
  display: block;
  transform: rotate(180deg);
  width: 8px;
  height: 8px;
}

/* Custom Radio Button */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 24px;
    display: flex;
    align-items: center;
  	width: 100%;
  	height: 100%;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 18px;
    height: 18px;
    border: 2px solid #181716;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #181716;
    position: absolute;
    top: 19px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.3s ease-out;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (min-width: 993px) {
  .no-d {
    display: none!important;
  }
}

@media (max-width: 992px) {
  .no-t-m {
    display: none!important;
  }
}